<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>


    <!--<add key="conc" value="server=184.175.86.36;database=wps_solidtrust_db; uid=wps_solidtrust_db; pwd=wps_solidtrust_db;Connect Timeout =300;"/>-->
    <!-- <add key="conc" value="server=208.117.86.202;database=mps_defiai_db; uid=mps_defiai_db; pwd=mps_defiai_db;Connect Timeout =300;"/> -->

    <add key="myConnectionString" value="server=209.208.79.21;database=mps_defiai_sft_db; uid=mps_defiai_sft_db; pwd=0xFc3D2D6A6A8C14AEC0Dc85B2CBCA19EdA939020E;" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="UserChatRoomSessionTimeout" value="120" />
    <add key="ChatRoomMaxUsers" value="50" />
    <!--  <add key="smtpsenderEmail" value="postmaster@dapp.solidtrust.io" />
  
	 <add key="smtpport" value="25"/>
    <add key="smtpHost" value="localhost"/>
    <add key="smtpUsername" value="postmaster@dapp.solidtrust.io"/>
    <add key="smtpPassword" value="postmaster@dapp.solidtrust.io"/> -->

    <add key="smtpsenderEmail" value="no-reply@definetwork.io" />
    <!--<add key="smtpport" value="587"/>
    <add key="smtpHost" value="relay.mailbaby.net"/>
    <add key="smtpUsername" value="mb11280"/>
    <add key="smtpPassword" value="z2AQeQf77CDpnQb546pZ"/>-->
    <add key="smtpport" value="587" />
    <add key="smtpHost" value="smtp-relay.sendinblue.com" />
    <add key="smtpUsername" value="interfacevalue@gmail.com" />
    <add key="smtpPassword" value="RkqxfHPzYyGasO2m" />

    <add key="smtpsenderEmailsignNewreg" value="no-reply@definetwork.io" />


    <add key="smtpHostsignNewreg" value="smtp.mailgun.org" />
    <add key="smtpUsernamesignNewreg" value="postmaster@dapp.solidtrust.io" />
    <add key="smtpPasswordsignNewreg" value="9407846a3bacb352c31d4afca72d47b6-e438c741-a684edfa" />
    <add key="smtpportsignNewreg" value="587" />
    <add key="smtpHostconfirmSignUp" value="smtp.mailgun.org" />
    <add key="smtpUsernameconfirmSignUp" value="postmaster@dapp.solidtrust.io" />
    <add key="smtpPasswordconfirmSignUp" value="9407846a3bacb352c31d4afca72d47b6-e438c741-a684edfa" />
    <add key="smtpsenderEmailconfirmSignUp" value="postmaster@dapp.solidtrust.io" />
    <add key="smtpportconfirmSignUp" value="587" />
    <add key="smtpHostACPassword" value="postmaster@dapp.solidtrust.io" />
    <add key="smtpUsernameACPassword" value="postmaster@dapp.solidtrust.io" />
    <add key="smtpPasswordACPassword" value="9407846a3bacb352c31d4afca72d47b6-e438c741-a684edfa" />
    <add key="smtpsenderEmailACPassword" value="postmaster@dapp.solidtrust.io" />
    <add key="smtpportACPassword" value="587" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />

  </appSettings>
  <connectionStrings>
    <!--<add name="NorthwindConnectionString" connectionString="Data Source=184.175.86.36;Initial Catalog=wps_solidtrust_db;User ID=wps_solidtrust_db;Password=wps_solidtrust_db" providerName="System.Data.SqlClient" />-->
    <add name="myConnectionString" connectionString="Data Source=209.208.79.21;Initial Catalog=mps_defiai_sft_db;User ID=mps_defiai_sft_db;Password=0xFc3D2D6A6A8C14AEC0Dc85B2CBCA19EdA939020E" providerName="System.Data.SqlClient" />
    <!--<add name="NorthwindConnectionString" connectionString="Data Source=184.175.86.36;Initial Catalog=wps_potbtc_db;User ID=wps_potbtc_db;Password=wps_potbtc_db" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <system.web>
    <!--  <customErrors  mode="On"  defaultRedirect="~/apperror.aspx">
      <error statusCode="500" redirect="/member/500.aspx" />
      <error statusCode="404" redirect="/member/404.aspx" />
    </customErrors> 
    
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewState="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="100000" maxRequestLength="214748364" />

    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->

  <system.webServer>

    <httpErrors errorMode="Detailed" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".exe" allowed="false" />
          <add fileExtension=".php" allowed="false" />
          <add fileExtension=".cgi" allowed="false" />
          <add fileExtension=".xml" allowed="false" />
          <add fileExtension=".asp" allowed="false" />
          <add fileExtension=".bat" allowed="false" />
          <add fileExtension=".list" allowed="false" />
          <add fileExtension=".loga" allowed="false" />
          <add fileExtension=".logb" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="androidwebservices.asmx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="no-reply@definetwork.io">
        <!--<network defaultCredentials="false" value="support@blockaura.com host="184.175.86.36" password="9407846a3bacb352c31d4afca72d47b6-e438c741-a684edfa" userName="postmaster@dapp.solidtrust.io" />-->
        <!-- <network defaultCredentials="false" host="localhost" password="postmaster@dapp.solidtrust.io" port="25" userName="postmaster@dapp.solidtrust.io" /> -->
        <network defaultCredentials="false" host="smtp-relay.sendinblue.com" port="587" userName="interfacevalue@gmail.com" password="RkqxfHPzYyGasO2m" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>